- form_tag({:action => 'edit'}, :class => "hakozaki") do
  %h2= "This RubyCampus installation is running in %s" % (Setting.demo ? "production mode" : "demo mode") 
  %hr/
  = render :partial => "common/actions/for_form_button_save"            