- form_tag({:action => 'edit', :tab => 'notifications'}, :class => "hakozaki") do   
  = render :partial => "common/actions/for_form_button_save" 
  = label_for_setting :setting => :site_from_email
  = render :partial => "common/actions/for_form_button_save" 
