- title((I18n.t("Viewing {{value}}", :default => "Viewing {{value}}", :value => current_controller_gettext_human_name)))
.standard_box
  .hako
    - form_for @group, :url => group_path, :html => { :method => :put, :class => "hakozaki", :autocomplete => :off } do |form|
      = render :partial => "common/actions/for_form_show"
      %h1=h @group.name
      %hr/ 
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "common/actions/for_form_show"
      = form.show_readonly :options => { :disable => "true" }
