%h2= I18n.t("Asset", :default => "Asset")
%label{:for => "contact_asset_uploaded_data"}= I18n.t("Upload Asset", :default => "Upload Asset")
= form.file_field :asset_uploaded_data
%em= I18n.t("We accept JPEG, GIF, or PNG files up to 500 KB.", :default => "We accept JPEG, GIF, or PNG files up to 500 KB.")   