- if @total == 0
  .no_data{:style=>"text-align:center;"}= _("No %s Found") % current_controller_gettext_human_name_pluralized
- else
  %table
    %tr
      %th{ :class => (sort_th_class_helper "name") }
        = sort_link_helper _("Name"), "name"  
      %th 
    - @mailing_mixin_types.each do |mailing_mixin_type|
      %tr{:class => cycle("even","odd")}
 
        %td=h mailing_mixin_type.name      
        %td= render :partial => "common/actions/for_row_index", :locals => { :local => mailing_mixin_type }
  - if @mailing_mixin_types_pages.page_count > 1
    %div.pagination
      = pagination_links_remote @mailing_mixin_types_pages