/* -----------------------------------------------------------------------
  THIS FILE IS PART OF RUBYCAMPUS - (https:/rubycampus.org) 
  For LICENSE and COPYRIGHT information please see docs/COPYRIGHTS
----------------------------------------------------------------------- */

/* ie.css */
body {text-align:center;}
.container {text-align:left;}
* html .column {overflow-x:hidden;}
* html legend {margin:-18px -8px 16px 0;padding:0;}
ol {margin-left:2em;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
html>body p code {*white-space:normal;}
hr {margin:-8px auto 11px;}