.buttons
  = link_to _("Cancel"), self.send(controller.controller_name+"_path"), :class => "negative"
  %button{:type => "submit", :name => 'create_and_new_button', :class => "positive"}             
    = _("Create and New")
  %button{:type => "submit", :class => "positive"}
    = _("Create")         