.action_buttons[local]
  = link_to(I18n.t("Edit", :default => "Edit"), self.send(("edit_"+controller.controller_name.singularize+"_path"), local), :class => "positive")
  = link_to(I18n.t("Destroy", :default => "Destroy"), self.send((controller.controller_name.singularize+"_path"), local), :class => "negative", :confirm => (I18n.t("Really destroy {{value}} record?", :default => "Really destroy {{value}} record?", :value => current_controller_human_name)), :method => :delete )