.buttons
  = link_to I18n.t("Cancel", :default => "Cancel"), self.send(controller.controller_name+"_path"), :class => "negative"
  %button{:type => "submit", :class => "positive"}
    = I18n.t("Update", :default => "Update")