.action_buttons[local]
  = link_to(I18n.t("Edit", :default => "Edit"), self.send(("edit_"+controller.controller_name.singularize+"_path"), local), :class => "positive")
  = local.is_enabled ? link_to(I18n.t("Disable", :default => "Disable"), self.send(("disable_"+controller.controller_name.singularize+"_path"), local), :method => :put) : link_to(I18n.t("Enable", :default => "Enable"), self.send(("enable_"+controller.controller_name.singularize+"_path"), local), :method => :put)  