.action_buttons[local]
  - unless local.is_reserved
    = link_to(_("Destroy"), self.send((controller.controller_name.singularize+"_path"), local), :class => "negative", :confirm => (_("Really destroy %s record?") % current_controller_human_name), :method => :delete )
    = local.is_enabled ? link_to(_("Disable"), self.send(("disable_"+controller.controller_name.singularize+"_path"), local), :method => :put) : link_to(_("Enable"), self.send(("enable_"+controller.controller_name.singularize+"_path"), local), :method => :put)
    = link_to(_("Edit"), self.send(("edit_"+controller.controller_name.singularize+"_path"), local), :class => "positive")  