.buttons
  = link_to I18n.t("Cancel", :default => "Cancel"), self.send(controller.controller_name+"_path"), :class => "negative"
  %button{:type => "submit", :name => 'create_and_new_button', :class => "positive"}             
    = I18n.t("Create and New", :default => "Create and New")
  %button{:type => "submit", :class => "positive"}
    = I18n.t("Create", :default => "Create")         