%tr[education_level]{:class => cycle("even","odd")}
  %td=h education_level.name
  %td=h education_level.is_default ? _('Yes') : _('No')
  %td=h education_level.is_enabled ? _('Yes') : _('No')
  %td= render :partial => "common/actions/for_row_index_no_show", :locals => { :local => education_level }