.buttons
  = link_to _("Cancel"), contacts_url(:contact_type => current_controller_constantized), :class => "negative"
  %button{:type => "submit", :name => 'create_and_new_button', :class => "positive"}             
    = _("Create and New")
  %button{:type => "submit", :class => "positive"}
    = _("Create")         