.buttons
  = link_to I18n.t("Cancel", :default => "Cancel"), contacts_path(:contact_type => current_controller_contact_type), :class => "negative"
  %button{:type => "submit", :class => "positive"}
    = I18n.t("Update", :default => "Update")