.action_buttons
  = link_to I18n.t("New Household", :default => "New Household"), new_household_path
  = link_to I18n.t("New Organization", :default => "New Organization"), new_organization_path
  = link_to I18n.t("New Individual", :default => "New Individual"), new_individual_path