- title((_("Viewing %s") % current_controller_gettext_human_name))
.standard_box
  .hako
    - form_for @activity, :url => activity_path, :html => { :method => :put, :class => "hakozaki" } do |form|
      = render :partial => "common/actions/for_form_show"
      %h1=h @activity.subject
      %hr/ 
      = render :partial => "form", :locals => {:form => form}
      = render :partial => "common/actions/for_form_show"
