.search
  <!–[if IE]>
  .search_background_IE
    <![endif]–>
    - form_tag self.send(controller.controller_name+"_path"), :method => :get do
      = submit_tag nil, {:name => "search", :type => "text", :value => params[:search], :class => "search_field"}
      .search_background
        = submit_tag nil, {:name => "contact_type", :type => "hidden", :value => params[:contact_type]} unless !params[:contact_type]
        = submit_tag nil, {:name => "stage", :type => "hidden", :value => params[:stage]} unless !params[:stage]
      = submit_tag nil, {:type => "image", :src => "/images/rubycampus/search_box_button.png", :value => "Search", :class => "search_button"}
    <!–[if IE]>
  <![endif]–>                     