- unless current_announcements.empty?
  #announcement.notice
    - for announcement in current_announcements
      = h announcement.message
      %br/
      = link_to_remote I18n.t("Hide this message", :default => "Hide this message"), :url => "/javascripts/hide_announcement.js"
      %br/   